<template>
  <div class="score-table-total">
    <table>
      <thead>
      <tr>
        <th>Total (i)</th>
        <th>Total (d)</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>
          {{ scoreTotalInteger }}
        </td>
        <td>
          {{ scoreTotalDecimal | oneDecimalNumber }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Score-text",
  props: {
    scoreTotalInteger: {
      type: Number,
      required: true
    },
    scoreTotalDecimal: {
      type: Number,
      required: true
    }
  },
  filters: {
    oneDecimalNumber (value) {
      return value.toFixed(1);
    },
  }
}
</script>

<style scoped>
  .score-table-total table {
    margin: 20px 40px 0 auto;
  }
</style>