<template>
  <div class="score-table">
    <table>
      <thead>
      <tr>
        <th>Coord</th>
        <th>Score (i)</th>
        <th>Score (d)</th>
      </tr>
      </thead>
      <tbody>
      <tr v-for="coordinateData in coordinateData">
        <td class="coord">
          {{ coordinateData.coordinates.x }} {{ coordinateData.coordinates.y }}
        </td>
        <td class="score">
          {{ coordinateData.score | truncateNumber }}
        </td>
        <td class="score">
          {{ coordinateData.score | oneDecimalNumber }}
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</template>

<script>
export default {
  name: "Score-text",
  props: {
    coordinateData: {
      type: Array,
      required: true
    }
  },
  filters: {
    /**
     * @param value
     * @returns {number} truncated number
     */
    truncateNumber (value) {
      return Math.trunc(value);
    },
    /**
     * @param value
     * @returns {string} string of the number with only 1 decimal
     */
    oneDecimalNumber (value) {
      return value.toFixed(1);
    },
  }
}
</script>

<style scoped>
  .score-table {
    height: 300px;
    overflow-y: auto;
  }
  .score-table .coord {
    width: 150px;
  }
  .score-table .score {
    width: 70px;
  }
</style>