<template>
  <div class="target-container">
    <canvas ref="canvas-target" :width="`${this.canvasTargetSide}px`" :height="`${this.canvasTargetSide}px`"></canvas>
  </div>
</template>

<script>
export default {
  name: "Score-target",
  data() {
    return {
      canvas: null,
      // number of pixel to represent radius circle with value '1'
      pixelOffset: 20,
      // will determine width and height of the canvas
      canvasTargetSide: 450,
    }
  },
  props: {
    coordinateData: {
      type: Array,
      required: true
    }
  },
  mounted() {
    this.drawTarget();
  },
  methods: {
    /**
     * display the target, drawing 10 circles
     */
    drawTarget() {
      // determine the center of the target
      const zeroPos = this.canvasTargetSide / 2;
      this.canvas = this.$refs['canvas-target'].getContext('2d');
      // draw 10 circles that will represent the target
      this.canvas.beginPath();
      for(let i = 1; i <= 10; i++) {
        // do not draw between two circles
        this.canvas.moveTo(zeroPos + i * this.pixelOffset, zeroPos);
        // draw a circle
        this.canvas.arc(zeroPos, zeroPos, i * this.pixelOffset, 0, 2 * Math.PI);
      }
      // apply the draw
      this.canvas.stroke();
    },
    /**
     * Draw a circle on the target, depending of x and y param
     *
     * @param x coordinate x of the impact
     * @param y coordinate y of the impact
     */
    drawPoint(x, y) {
      // define the offset to get the right center of the impact
      const offsetZeroPos = this.canvasTargetSide / 2;
      // calculate x and y center position
      const centerX = x * this.pixelOffset + offsetZeroPos;
      const centerY = y * this.pixelOffset + offsetZeroPos
      // draw the circle
      this.canvas.beginPath();
      this.canvas.arc(centerX, centerY, 4, 0, 2 * Math.PI, false);
      this.canvas.fillStyle = 'orange';
      this.canvas.fill();
      this.canvas.lineWidth = 0;
      this.canvas.strokeStyle = 'orange';
      this.canvas.stroke();
    }
  },
  watch: {
    /**
     *  watched property, display the last point received
     */
    coordinateData: function() {
      const lastCoordinateData = this.coordinateData[this.coordinateData.length - 1];
      this.drawPoint(lastCoordinateData.coordinates.x, lastCoordinateData.coordinates.y);
    }
  },
}
</script>

<style scoped>
  .target-container{
    border: 1px solid black;
  }
</style>