<template>
  <div id="app">
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <ScoreText :coordinateData="this.coordinateData"/>
          <ScoreTextTotal
              :scoreTotalInteger="this.scoreTotalInteger"
              :scoreTotalDecimal="this.scoreTotalDecimal"
          />
        </div>
        <div class="col-md-5">
          <ScoreTarget :coordinateData="this.coordinateData"/>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import ScoreText from './components/Score-text';
import ScoreTarget from './components/Score-target';
import ScoreTextTotal from './components/Score-text-total';
import io from 'socket.io-client';

export default {
  name: 'app',
  data:  () => {
    return {
      coordinateData: [],
      socket : io('http://localhost:1234', {
        cors: {
          origins: "http://localhost:* http://127.0.0.1:*",
        }
      }),
      scoreTotalInteger: 0,
      scoreTotalDecimal: 0,
    }
  },
  components: {
    ScoreText,
    ScoreTextTotal,
    ScoreTarget,
  },
  mounted() {
    this.socket.on('receive-coordinate', (newCoordinateData) => {
      // add the score to the object
      const coordinateDataUpdated = this.addScore(newCoordinateData);
      // update coordinateData var
      this.coordinateData.push(coordinateDataUpdated);
      // increment total scores
      this.scoreTotalDecimal += coordinateDataUpdated.score;
      this.scoreTotalInteger += Math.trunc(coordinateDataUpdated.score);
    });
  },
  methods: {
    /**
     * Calculate the score depending of x and y coordinates
     *
     * @param coordinateData
     * @returns {*} object populated with entry "score" added to the object sent in parameter
     */
    addScore(coordinateData) {
      let score = 0;
      const x = coordinateData.coordinates.x;
      const y = coordinateData.coordinates.y;
      const rayon = Math.sqrt(Math.pow(x, 2) + Math.pow(y, 2));
      score = 1 + Math.ceil((10.0 - rayon) * 100) / 100;
      coordinateData.score = score < 1 ? 0 : score;
      return coordinateData;
    }
  }
}
</script>

<style>

</style>
